$yellow:#fff000;
.jumbotron{
    background-color: $yellow;
    color:black;
    margin-top: 50px;
}
footer{
    padding: 10px 10px 0px 10px ;
    background-color:$yellow;
    margin-bottom: 0;
    margin-top: 10px;
}
.card-hotel{
    flex: 1 200px ;
    margin-top: 10px;
    margin-left: 2px;
}
.btn-reserva{
    width:100%;
    border-radius: 0px;
}
.footer-address-icon{
    padding-right: 10px;
}
.breadcrumb{
    background-color:white;
}
.tab-content{
    padding-top:10px;
} 
.img-ca{
    height: 420px;
}